html {
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #000000;
}  

header {
    background-color: #4388c5;
    color: white;
    padding: 2rem 2rem;
}

header h1{
    font-size: 4rem;
    text-align: center;
}
#titleproy{
    color: white;
    font-size: 1.8rem;
    text-align: left;
}

#container{
    width: 400px;
    margin: 0 auto;
}