html {
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-color: #efefef;
}  

header {
    background-color: #364552;
    color: white;
    padding: 2rem 2rem;
}

header h1{
    font-size: 4rem;
    text-align: center;
}
#container{
    width: 400px;
    margin: 0 auto;
}