html {
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    background-image: url("images/background.jpg");
}  

header {
    background-color: hsla(167, 83%, 34%, 0.911);
    color: white;
    padding: 2rem 2rem;
}

header h1{
    font-size: 4rem;
    text-align: center;
}
#titleproy{
    color: white;
    background-color: hsla(189, 83%, 34%, 0.295);
    font-size: 1.8rem;
    padding: 0.7rem 2rem;
    text-align: left;
    margin: 0 auto;

}

#container{
    width: 400px;
    margin: 0 auto;
} 